* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  text-align: center;
}
input[type="number"] {
  -moz-appearance: textfield;
}
header {
  padding: 30px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
.subTitle {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.figure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
.figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.selector {
  border: none;
  box-shadow: #fff 3px 3px 10px, #fff -3px -3px 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 150px;
  padding: 10px;
  margin: 20px 10px;
  font-size: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square,
.triangle,
.triangleIsosceles,
.circle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  height: 100vh;
  width: 100vw;
  max-width: 600px;
}
.square div,
.triangle div,
.triangleIsosceles div,
.circle div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square h1,
.triangle h1,
.triangleIsosceles h1,
.circle h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.square {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
}
.triangle,
.triangleIsosceles {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/triangular.png");
}
.circle {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/soft-circle-scales.png");
}
label {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input {
  text-align: center;
  width: 50%;
  height: 40px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 2rem;
}
.button {
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
  height: auto;
  margin: 10px 50px;
  padding: 10px;
  background-color: rgba(75, 223, 46, 0.589);
  font-weight: bold;
  cursor: pointer;
}
textarea {
  color: white;
  height: 40%;
  width: 80%;
  align-self: center;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.return {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.return span {
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
  background-image: url("../icons/down-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
